# Dependencies
node_modules/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure
/allure-results/
/allure-report/

# Environment variables
.env
.env.*

# IDE
.vscode/
